.footer {
    box-shadow: 0 5px 34px 4px rgba(0, 0, 0, 0.26);
    background-color: #272a33;
    &__list {
        padding: 50px 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__textblock {
        max-width: 362px;
    }
    &__text {
        color: #f8f8f9;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
    }
    &__block {
        margin-top: 8px;
    }
    &__logo {
        margin-bottom: 28px;
    }
    &__subtitle {
        margin-bottom: 30px;
        color: #f8f8f9;
        font-family: "Open Sans";
        font-weight: 700;
    }
    &__button {
        padding: 13px 30px;
        box-shadow: 0 4px 12px 1px rgba(199, 203, 64, 0.16);
        border-radius: 10px;
        background-color: #c7cb40;
        border: none;
        cursor: pointer;
        color: #f8f8f9;
        font-size: 18px;
        font-weight: 700;
    }
    &__nav {
        &__item {
            padding: 0;
            font: inherit;
            display: block;
            cursor: pointer;
            border: none;
            background: none;
            color: #f8f8f9;
            font-size: 14px;
            font-weight: 400;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__social {
        &-link {
            display: inline-block;
            margin-right: 8px;
        }
        &-img {
            transition: 0.3s ease;
            path {
                transition: 0.3s ease;
            }
            &:hover {
                path {
                    fill: #4680c2;
                }
            }
        }
    }
    &__bottom {
        padding: 15px 0;
        border-top: 2px solid rgba(#8e8e8e, 0.17);
        color: #b8b8b8;
        font-size: 12px;
        text-align: center;
    }
}

@media screen and (max-width: $md) {
    .footer {
        &__list {
            padding: 20px 0;
        }
        &__textblock {
            max-width: 240px;
        }
        &__logo {
            margin-bottom: 17px;
        }
        &__text {
            font-size: 13px;
            line-height: 20px;
        }
        &__block {
            margin: 19px 10px 0;
        }
        &__subtitle {
            margin-bottom: 24px;
        }
        &__button {
            padding: 11px 20px;
            font-size: 15px;
        }
        &__nav {
            &__item {
                font-size: 13px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: $sm) {
    .footer {
        &__logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &__list {
            flex-direction: column;
        }
        &__text {
            text-align: center;
        }
        &__textblock {
            max-width: 100%;
        }
        &__button {
            display: block;
            margin: 0 auto;
        }
        &__block {
            margin: 14px auto 0;
        }
        &__subtitle {
            margin-bottom: 7px;
            text-align: center;
        }
        &__nav__item {
            width: 100%;
            text-align: center;
        }
        &__social {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}