.main {
    background: url(../img/main/main-bg.jpg) #02051e top center no-repeat;
    background-size: cover;
    height: calc(100vh - 68px);
    position: relative;
    &-container {
        padding-right: 310px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    &__title {
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
    }
    &__text {
        margin-bottom: 32px;
        color: #fcfcfc;
        font-size: 18px;
        line-height: 24.5px;
    }
    &__btn {
        padding: 14px 24px 15px;
        box-shadow: 0 2px 15px 6px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: none;
        background: linear-gradient(45deg, rgba(26,132,146,1) 0%, rgba(73,92,114,1) 100%);
        cursor: pointer;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
    }
    &__link {
        z-index: 2;
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: $md) {
    .main {
        height: calc(100vh - 48px);
        &-container {
            padding: 0;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 38px;
        }
        &__text {
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 22px;
        }
        &__btn {
            padding: 13px 22px;
            font-size: 16px;
        }
        &__link {
            bottom: 25px;
        }
    }
}

@media screen and (max-width: $sm) {
    .main {
        background-position: bottom center;
        background-size: auto 100%;
        &-container {
            width: 420px;
        }
        &__title {
            margin-bottom: 4vh;
            font-size: 25px;
        }
        &__text {
            margin-bottom: 4vh;
            font-size: 14px;
            line-height: 1.8;
        }
        &__btn {
            margin: 0 auto;
            padding: 7px 15px;
            font-size: 14px;
        }
        &-link__img {
            width: 24px;
        }
    }
}

@media screen and (max-width: 550px) {
    .main {
        &-container {
            width: 300px;
        }
    }
}